@inject DigitalLibrary.Repository.IBookRepository _bookRepository
@*@inject Microsoft.Extensions.Configuration.IConfiguration _configuartion*@
@using Microsoft.Extensions.Configuration
@inject IConfiguration _configuration

@using Microsoft.Extensions.Options
@inject IOptionsSnapshot<NewBookAlertConfig> newBookAlertConfig
@*@{
        //var newBook = _configuration.GetSection("NewBookAlert");
        var newBook = new NewBookAlertConfig();
        _configuration.Bind("NewBookAlert", newBook);
    }*@

@*@{
        var _newBookAlertConfig = new NewBookAlertConfig();
        _newBookAlertConfig = newBookAlertConfig.Value;
    }*@

@{
    var _newBookAlertConfig = new NewBookAlertConfig();
    _newBookAlertConfig = newBookAlertConfig.Get("InternalBook");
    var _thirdPartyBookAlertConfig = new NewBookAlertConfig();
    _thirdPartyBookAlertConfig = newBookAlertConfig.Get("ThirdPartyBook");
}

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        @*<a class="navbar-brand" href="#">@_bookRepository.GetAppName()</a>*@
        <a class="navbar-brand" asp-controller="Home" asp-action="Index"> @_configuration["AppName"]</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Book" asp-action="GetAllBooks">All Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Book" asp-action="AddNewBook">Add New Book</a>
                </li>
            </ul>
            @*<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>*@

           <partial name="_signinInfo"/>
        </div>
    </nav>
</header>
@*@if (newBook.GetValue<bool>("IsActive"))
    {
    <div class="alert alert-primary" role="alert">
        @(newBook.GetValue<string>("AlertMessage"))
    </div>
    }*@

@*@if (newBook.IsActive)
    {
        <div class="alert alert-primary" role="alert">
            @(newBook.AlertMessage)
        </div>
    }*@

@*@if (_newBookAlertConfig.IsActive)
    {
        <div class="alert alert-primary" role="alert">
            @(_newBookAlertConfig.AlertMessage)
        </div>
    }*@

@*@if (_newBookAlertConfig.IsActive)
{
    <div class="alert alert-primary" role="alert">
        @(_newBookAlertConfig.AlertMessage)
    </div>
}

@if (_thirdPartyBookAlertConfig.IsActive)
{
    <div class="alert alert-primary" role="alert">
        @(_thirdPartyBookAlertConfig.AlertMessage)
    </div>
}*@
